h1
{
    text-align: center;
    font-style: italic;
    background-color: #362E2B;
}
body
{
    background-color: #787D85;
}
div
{
    color: #F2E8C3;
    background-color: #362E2B;
    width: 700px;
    height: 200px;
    float: right;
    padding: 30px;
}
#text
{
    font-size: 30px;
    position: fixed;
    top: 520px;
    left: 1150px;
}
button
{
    font-size: 20px;
    clear: both;
}
svg
{
    background-color: white;
}
